name: Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Login
        uses: docker/login-action@v3.0.0
        with:
          registry: ${{ vars.REGISTRY }}
          username: ${{ secrets.GITLAB_LOGIN }}
          password: ${{ secrets.GITLAB_PASS }}
            
      - name: Build and Push
        run: |
          npm i
          npm run docker:public
